<section class="testimonials-section">
  <header class="testimonials-header">
    <h2>Valued for</h2>
    <p class="section-description">delivering without drama.</p>
  </header>

  <div class="testimonials-grid">
    {{#get "posts" filter="tag:testimonial" limit="100" include="tags,authors,html"}}
      {{#foreach posts}}
        {{> testimonial-card}}
      {{/foreach}}
    {{/get}}
    {{#get "tags" filter="slug:testimonial"}}
      {{#tags}}
        <div class="find-out-more-card">
          <a href="{{url}}" class="find-out-more-link">
            <h3 class="find-out-more-text">Find all</h3>
            <img src="{{asset "icons/arrow-right.svg"}}" alt="" class="find-out-more-icon">
          </a>
        </div>
      {{/tags}}
    {{/get}}
  </div>
</section>
