<section class="word-animation-container" id="word-animation">
  <div class="word-animation-sticky">
    <div class="word-animation-viewport">
      <div class="word-animation-text"><span class="word-animation-word">I</span><span class="word-animation-word">like</span><span class="word-animation-word">keep</span><span class="word-animation-word">ing</span><span class="word-animation-word">it</span><span class="word-animation-word">simple</span><span class="word-animation-period">.</span><span class="word-animation-word">and</span><span class="word-animation-word">often</span><span class="word-animation-word">remove</span><span class="word-animation-word">more</span><span class="word-animation-word">things</span><span class="word-animation-word">than</span><span class="word-animation-word">add.</span></div>
    </div>
  </div>
</section>
